@import "../../style.scss";
.home {
    @include themify($themes) {
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        background-color: themed("bgSoft");
        padding: 20px 70px;
        @include mobile {
            padding: 10px;
        }
        @include tablet {
            padding: 20px;
        }
    }
}